<footer class="ct-footer">
    <div class="container">
        <form  name="contentForm" enctype="multipart/form-data" method="post" action="">
            <div class="ct-footer-pre text-center-lg">
                <div class="inner suscribete">
                    <span>Suscríbete para más noticias!</span>
                </div>
                <div class="inner correo">
                    <div class="form-group">
                        <input name="formfields[nl_email]" id="nl_email" class="validate[required]"
                            placeholder="Ingresa tu correo electrónico" type="text" value=""><button type="submit"
                            class="btn btn-motive">Suscribirme</button>
                    </div>
                </div>
                <div class="inner" fxShow="true" fxHide.lt-md>
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d957.8594419018407!2d-74.10259431990953!3d4.6161833663402465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9942ea18e9df%3A0xca5cd56e2031cb8b!2sCentro%20Comercial%20Bah%C3%ADa!5e0!3m2!1ses!2sco!4v1585525083979!5m2!1ses!2sco"
                        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </form>
        <ul class="ct-socials list-unstyled list-inline">
            <li>
                <a href="https://www.facebook.com.co" target="_blank"><img alt="facebook" src="./assets/footer/facebook-white.png"></a>
            </li>
            <li>
                <a href="https://www.twitter.com.co" target="_blank"><img alt="twitter" src="./assets/footer/twitter-white.png"></a>
            </li>
            <li>
                <a href="https://www.youtube.com.co" target="_blank"><img alt="youtube" src="./assets/footer/youtube-white.png"></a>
            </li>
            <li>
                <a href="https://www.instagram.com.co" target="_blank"><img alt="instagram" src="./assets/footer/instagram-white.png"></a>
            </li>
        </ul>
        <ul class="ct-footer-list text-center-sm" fxShow="true" fxHide.lt-md="true">
            <li>
                <h2 class="ct-footer-list-header">
                    Linea DJ
                </h2>
                <ul>
                    <li>
                        <a (click)="navigate(2)">Pioneer</a>
                    </li>
                    <li>
                        <a (click)="navigate(3)">Traktor</a>
                    </li>
                    <li>
                        <a (click)="navigate(4)">Denom</a>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="ct-footer-list-header">
                    Cabinas
                </h2>
                <ul>
                    <li>
                        <a href="">Jbl</a>
                    </li>
                    <li>
                        <a href="">Fbt</a>
                    </li>
                    <li>
                        <a href="">Electrovoice</a>
                    </li>
                    <li>
                        <a href="">Qsc</a>
                    </li>
                    <li>
                        <a href="">Rcf</a>
                    </li>
                    <li>
                        <a href="">Yorkville</a>
                    </li>
                    <li>
                        <a href="">Db Technology</a>
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="ct-footer-list-header">
                    Micrófonos
                </h2>
                <ul>
                    <li>
                        <a href="">Sennheiser</a>
                    </li>
                    <li>
                        <a href="">Shure</a>
                    </li>
                    <li>
                        <a href="">Akg</a>
                    </li>                  
                </ul>
            </li>
            <li>
                <h2 class="ct-footer-list-header">
                    Audifonos
                </h2>
                <ul>
                    <li>
                        <a href="">Pioneer</a>
                    </li>
                    <li>
                        <a href="">Akg</a>
                    </li>   
                </ul>
            </li>
            <li>
                <h2 class="ct-footer-list-header">
                    Luces
                </h2>
                <ul>
                    <li>
                        <a href="">Shauvet</a>
                    </li>
                    <li>
                        <a href="">Big dipper</a>
                    </li>     
                </ul>
            </li>
            <li>
                <h2 class="ct-footer-list-header">
                    Estudio Grabación
                </h2>
                <ul>
                    <li>
                        <a href="">Interfaz de Audio</a>
                    </li>
                    <li>
                        <a href="">Monitores de Estudio</a>
                    </li>
                    <li>
                        <a href="">Micrófonos de Condensador</a>
                    </li>
                    <li>
                        <a href="">Otros</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="ct-footer-post">
        <div class="container container2">
            <div class="inner-left">
                <p>
                    Carrera 38 No. 10-25, Local 203, Centro Comercial Bahía
                </p>
                <p>Telefono: 320-654-6954</p>
            </div>
            <div class="inner-right">
                <p>
                    Copyright &copy; 2020 SoundPro Online
                </p>  
                <p>Bogotá, Colombia</p>
            </div>
        </div>
    </div>
</footer>