<div class='container-fluid'>


    <img fxShow="true" fxHide.gt-sm="true" class="whatsappFlotante animated" src="assets/whatsapp.png"
        (click)="goWhatsapp()">

    <ngb-carousel>
        <ng-template ngbSlide>
            <img class="imgCarrousel" src="../assets/carrousel/carrousel1.jpg">
        </ng-template>
        <ng-template ngbSlide>
            <img class="imgCarrousel" src="../assets/carrousel/carrousel2.jpg">
        </ng-template>
        <ng-template ngbSlide>
            <img class="imgCarrousel" src="../assets/carrousel/carrousel3.jpg">
        </ng-template>
        <ng-template ngbSlide>
            <img class="imgCarrousel" src="../assets/carrousel/carrousel4.jpg">
        </ng-template>
    </ngb-carousel>
    <div class="container products">
        <h4>Productos</h4>
        <mat-divider></mat-divider>
        <br />
        <div class="row">
            <!-- imagenes de 500 x 285 -->
            <div class="col-xs-6 col-sm-4 col-md-4 img-hover-zoom">
                <img src="../assets/products/dj.png" alt="" class="imgProd">
                <p class="textProd">Linea Dj</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 img-hover-zoom">
                <img src="../assets/products/cabina.png" alt="" class="imgProd">
                <p class="textProd">Cabinas</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 img-hover-zoom">
                <img src="../assets/products/micro.png" alt="" class="imgProd">
                <p class="textProd">Micrófonos</p>
            </div>
        </div>
        <div class="row">
            <!-- imagenes de 500 x 285 -->
            <div class="col-xs-6 col-sm-4 col-md-4 img-hover-zoom">
                <img src="../assets/products/audifono.png" alt="" class="imgProd">
                <p class="textProd">Audifonos</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 img-hover-zoom">
                <img src="../assets/products/luces.png" alt="" class="imgProd">
                <p class="textProd">Luces</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 img-hover-zoom">
                <img src="../assets/products/estudio.png" alt="" class="imgProd">
                <p class="textProd">Estudios Grabación</p>
            </div>
        </div>
    </div>

</div>